div.header {
    @apply w-full;
}

div.header>img {
    max-width: 100px;
    max-height: 100px;
    clip-path: circle(40%);
    @apply bg-purple-200;
}

#sk {
    @apply px-5;
    @apply text-sm;
}

#sk>label {
    @apply text-blue-400;
}